$colors: (
    'common': (
        'white': #fff,
        'black': #05092B,
        'black-dark': #1D2142,
        'yellow': #F8BC26,
    ),
    'grey': (
        '1': #F9F9F9,
    ),
    'text': (
        'body':#737373,
    ),
    'theme': (
        '1': #351EE0,
        '2': #111536,
    ),
    'gradient': (
        '1':#351EE0,
        '2':#3F74EF,
    ),
    'border': (
        '1':#CCCCCC,
    )
);
