@forward 'components/theme';
@forward 'components/buttons';
@forward 'components/accordion';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/carousel';
@forward 'components/offcanvas';
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/tab';
@forward 'components/modal';
@forward 'components/scroll-top';
@forward 'components/section-title';
@forward 'layout/header';
@forward 'components/mobile-menu';
@forward 'layout/hero';
@forward 'layout/about';
@forward 'layout/feature';
@forward 'layout/service';
@forward 'layout/project';
@forward 'layout/funfact';
@forward 'layout/exprience';
@forward 'layout/faq';
@forward 'layout/cta';
@forward 'layout/testimonial';
@forward 'layout/blog';
@forward 'layout/newsletter';
@forward 'layout/team';
@forward 'layout/work';
@forward 'layout/gellary';
@forward 'layout/contact';
@forward 'layout/choose';
@forward 'layout/price';
@forward 'layout/footer';